* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	background-color: white;
	padding: 10px;
	position: sticky;
	top: 0;
	
}
nav .nav-logo, nav .right-nav, nav .nav, nav .tuitt-button {
	display: inline;
	margin: 0.5rem;
	padding-right: 5px;

}
.right-nav {
	float: right;
}
.tuitt-button {

	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	}
#bg-image {
	height: 30rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	
	background-position: center;
	padding-bottom: 12rem;
	color: white;
}
.front-bg {
	background-color: black;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
	background-size: cover;
	height: 72vh;
	margin-top: 0;
	display: inline-flex;
	align-items: stretch;

}

.container {
	text-align: right;
	padding-left: 54vw;
	padding-right: 10vw;
}

.tittle {
	font-family: zilla slab;
}
.tittle-2 {
	font-family: zilla slab;
}
.apply-button {
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border: none;
	text-align: right;
}


.intro {
	text-align: center;
	padding-left: 10rem;
	padding-top: 2rem;
	padding-right: 10rem;
	padding-bottom: 5rem;
}
.pre-footer {
	text-align: center;
}
.intro-description {
	text-align: left;
	padding-top: 2rem;
}
.pre-footer {
	font-family: zilla slab;
	text-align: center;
	text-align: center;
	padding-left: 10rem;
	padding-top: 2rem;
	padding-right: 10rem;
	padding-bottom: 10rem;
}
.book-button {
	background-color: #336589;
	border-radius: 25px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	margin-top: 1rem;
}
.footer {
	text-align: center;
}
